<div style="padding: 10px">
  <img style="width: 180px" src="{{ appURI }}/fastfeet-logo.png" alt="FastFeet logo" />
</div>
<div
  style="padding: 10px; text-align: justify; font-family: Ubuntu, sans-serif; font-size: 16px; line-height: 1.5; color: #0a0a0a">
  {{{ body }}}
  {{> footer }}
</div>
