<span>Olá, {{ deliverymanName }}!</span>
<br />
<p>Sua <strong>entrega foi cancelada por nós</strong> devido aos problemas reportados.</p>
<p>Informações da entrega:<br />
  Nome do destinatário: <strong>{{ recipientName }}</strong><br />
  Lugar do destinatário: <strong>{{ recipientAddress }}</strong><br />
  Descrição da encomenda: <strong>{{ deliveryProduct }}</strong>
</p>
<p>
  Pedimos desculpas por qualquer incoveniente causado e somos gratos pela sua compreensão!<br />
  Nosso time lhe contatará para combinar os procedimentos seguintes o mais breve possível.
</p>
