<span>Hi, {{ deliverymanName }}!</span>
<br />
<p>The <strong>delivery was canceled by us</strong> due to the problems reported.</p>
<p>Delivery information:<br />
  Recipient's name: <strong>{{ recipientName }}</strong><br />
  Recipient's place: <strong>{{ recipientAddress }}</strong><br />
  Product description: <strong>{{ deliveryProduct }}</strong>
</p>
<p>
  Sorry for any inconveniences caused and thank you for your understanding!<br />
  Our team will contact you to arrange the next procedures as soon as possible.
</p>
